<ion-header>
  <ion-toolbar>
    <ion-img slot="start" style="width: 30px; height: 30px;" src="assets/mocks/pills_logo.png" ></ion-img>
    <ion-title align="center">Pills</ion-title>
    <ion-button slot="end" color="white" size="medium" routerLink="/home" >
      <ion-icon name="power" color="dark" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p><ion-item>
      <ion-img slot="start" style="width: 100px; height: 60px;" src="assets/images/soignant.jpg" ></ion-img>
      <ion-label align="center">{{ mySoignant.firstname }}  {{ mySoignant.name }}  </ion-label>
    </ion-item></p>
    <ion-list>
      <ion-label> Alertes :  </ion-label>
      <br>
      <br>
      <ion-item *ngFor="let alert of alerts ">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-icon [color]="alert.correction ? 'success' : 'danger'" name="warning"></ion-icon>
              {{ alert.nameOfPatient }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-label>Date de prise : {{alert.dateOfPrise | date: 'dd/MM HH:mm'}}</ion-label>
          <br>
          <ion-label class="ion-text-wrap">Problème : {{ alert.alertMessage }}</ion-label>
          <br>
          <ion-label>Alerte envoyée le : {{alert.dateOfAlert | date: 'dd/MM HH:mm'}}</ion-label>
          <br>
          <ion-button *ngIf="!alert.correction" (click)="getCall()">
            <ion-icon name="call"></ion-icon>
            Contacter
          </ion-button>
          <ion-button *ngIf="!alert.correction" (click)="correctAlert(alert)">
            <ion-icon name="warning"></ion-icon>
            Problème réglé
          </ion-button>
          <ion-label *ngIf="alert.correction"> Problème réglé le : {{ alert.dateOfCorrection | date: 'dd/MM HH:mm' }}</ion-label>
        </mat-expansion-panel>
      </ion-item>
      </ion-list>
    <ion-list>
      <ion-label> Rendez-vous :  </ion-label>
      <br>
      <br>
      <ion-item *ngFor="let rdv of rendezVous ">
        <ion-label>{{rdv.dateOfRdv | date:'dd/MM HH:mm'}} : {{ rdv.nameOfPatient }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
