<ion-header>
  <ion-toolbar>
    <ion-img slot="start" style="width: 30px; height: 30px;" src="assets/mocks/pills_logo.png" ></ion-img>
    <ion-title align="center">Pills</ion-title>
    <ion-button slot="end" color="white" size="medium" routerLink="/home" >
      <ion-icon name="power" color="dark" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let rdv of rendezVous">
          <ion-label class="pretty-list">{{rdv.dateOfRdv | date:'dd/MM HH:mm'}} : {{ rdv.nameOfPatient }}</ion-label>
          <ion-list *ngFor="let prise of rdv.prises">{{prise.date | date:'dd/MM HH:mm'}} : {{prise.medicament.name}}</ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
