<ion-header>
  <ion-toolbar>
    <ion-title>patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            Pills
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-item>
    <ion-item>
      <ion-label>Robert Pattinson</ion-label>
    </ion-item>
    <!--Pour tous les jours-->
    <ion-item *ngFor="let priseJour of prises">
      <!--On affiche les jours-->
      <ion-item><ion-label>{{priseJour.jour}} :</ion-label></ion-item>
      <ion-list>
        <!--Pour toutes les prises de medicament du jour-->
        <ion-item *ngFor="let prise of priseJour.liste" [disabled]="prise.estPrise">
          <!--On affiche l'heure et la liste des medicaments a prendre-->
          <ion-item><ion-label>{{prise.heure}}h:</ion-label></ion-item>
          <ion-item *ngFor="let med of prise.listeMed"><ion-label>{{med.quantite}} {{med.nom}}</ion-label>
          </ion-item>
          <!--Si la prise s'effectue aujourd'hui et qu'on a passe l'heure, on met le bouton pour valider la prise et le bouton d'erreur-->
          <ion-button *ngIf="priseJour.jour == 'Aujourd\'hui' && prise.heure <= heureActuelle" (click)="prise.estPrise = true">Valider</ion-button>
          <ion-button *ngIf="priseJour.jour == 'Aujourd\'hui' && prise.heure <= heureActuelle" (click)="prise.estPrise = true" routerLink="/probleme">Problème</ion-button>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
