<ion-header>
    <ion-toolbar>
        <ion-img slot="start" style="width: 30px; height: 30px;" src="assets/mocks/pills_logo.png" ></ion-img>
        <ion-title align="center">Pills</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content >
    <p><ion-title> Vous êtes : </ion-title></p>
    <ion-list>
        <ion-item><ion-button routerLink="/patient"> Patient </ion-button></ion-item>
        <ion-item><ion-button routerLink="/soignant"> Soignant </ion-button></ion-item>
        <!--<ion-item><ion-button routerLink="/patient-calendar"> Calendrier patient </ion-button></ion-item>
        <ion-item><ion-button routerLink="/soignant-calendar"> Calendrier soignant </ion-button></ion-item>-->
    </ion-list>
</ion-content>
