<ion-header>
  <ion-toolbar>
    <ion-title>Problème</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list style="text-align: center">
    <ion-item>
      <ion-label align="center">Reportez le problème : </ion-label>
    </ion-item>
    <ion-item>
      <ion-input *ngIf="!proposal" clearInput placeholder="Entrer votre problème"> {{ toPrint }}</ion-input>
      <ion-input *ngIf="proposal" (click)="proposal=false">{{ proposalString }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label (click)="setProposal('J\'ai oublié mon médicament')"> J'ai oublié mon médicament. </ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="setProposal('J\'ai perdu mon médicament')"> J'ai perdu mon médicament. </ion-label>
    </ion-item>
      <ion-button shape="round" color="white" size="large" (click)="setVocalRecognition()" >
        <ion-icon name="mic" color="dark" ></ion-icon>
      </ion-button>
    <ion-list style="text-align: center">
      <ion-button expand="block" routerLink="/patient" (click)="sendAndClose()"> Envoyer </ion-button>
    </ion-list>
  </ion-list>
</ion-content>
